.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bgLogin {
  height: 100%;
  width: 100%;
  background: url('/assets/images/backgrounds/material-backgrounds/mb-bg-43.jpg') 0 0/cover no-repeat;
}

mat-sidenav {
  box-shadow: 2px 0px 20px 0px;
}