.example-card {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

.header-image {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.header-text {
  color: rgb(97, 97, 97)
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-form-field {
  font-size: medium
}

mat-form-field input {
  width: 80%
}

form {
  padding-top: 20px;
}

mat-card-header {
  padding: 15px;
}

mat-card-actions {
  padding: 15px
}
