<div fxLayout.lt-md="row" fxLayout.gt-sm="column">
	<div *ngFor="let item of toolItemsList">
		<button *ngIf="!item.children" mat-button mat-icon-button [matTooltip]="item.name" matTooltipPosition="after">
      <mat-icon [routerLink]="['/', item.state]"  link aria-label="Example icon-button with a headrt icon" >{{item.icon}}</mat-icon>
    </button>
		<!-- <button *ngIf="item.children" mat-button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="item.name" style="float:right;">
    <mat-icon    link aria-label="Example icon-button with a headrt icon" >{{item.icon}}</mat-icon>
      </button>
		<mat-menu #menu="matMenu">
			<mat-divider> </mat-divider>
			{{item.name}}
			<mat-divider> </mat-divider>
			<button *ngFor="let children of item.children" [routerLink]="['/', children.state]" mat-menu-item>
      		<mat-icon>{{children.icon}}</mat-icon>
      		<span>{{children.name}}</span>
      	</button>
		</mat-menu> -->
	</div>
</div>