<div fxLayout="row" fxFlex="100%">
	{{active}}
	<button mat-button [matMenuTriggerFor]="windowMenu" class="menu">
		{{windows[ windowSelected].name}}
	</button>
	<mat-menu #windowMenu="matMenu">
		<button mat-menu-item *ngFor="let window of windows; let i = index" (click)="onSelectWindow( i );" [disabled]="i == 0">
			<span>{{window.name}}</span>
		</button>
	</mat-menu>
	<button mat-button [matMenuTriggerFor]="typeMenu" class="menu">
		{{types[ typeSelected].name}}
	</button>
	<mat-menu #typeMenu="matMenu">
		<button mat-menu-item *ngFor="let type of types; let i = index" (click)="onSelectType( i );" [disabled]="i == 0">
			<span>{{type.name}}</span>
		</button>
	</mat-menu>
	<button mat-icon-button class="menu" matTooltip="Llamar siguiente turno" *ngIf="windowSelected && typeSelected" (click)="onNewCall();">
		<i class="material-icons button">notifications_active</i>
	</button>
	<button mat-button class="menu attention" matTooltip="Turno actual" *ngIf="currentCall" (click)="onRecall()">
		<i class="material-icons big">receipt</i>
		<b>{{currentCall.letter}}-{{currentCall.number}}</b>
	</button>
	<button mat-button class="menu attention" matTooltip="usuarios en fila" (click)="onWaiting()" *ngIf="typeSelected">
		<i class="material-icons big">group</i>
		<b>{{ waiting !== 0 ? waiting : 'vacía'}}</b>
	</button>
<div>
