button{
	color: white;
	font-size: 16px;
}
span{
	color: black;
}
button.menu{
	margin-left: 10px;
}
i.big{
	font-size: 33px;
}
i.button{
	font-size: 40px;
  color: white;
}
button.attention{
	font-size: 30px;
}
