<div>
	<div *ngFor="let item of menuItemsList">
		<button *ngIf="!item.children" mat-menu-item [routerLink]="['/', item.state]">
      <mat-icon  link aria-label="Example icon-button with a headrt icon" >{{item.icon}}</mat-icon>{{item.name}}
    </button>
		<h3 class="subgeader" *ngIf="item.children">{{item.name}}</h3>
		<button *ngFor="let children of item.children" [routerLink]="['/', children.state]" mat-menu-item>
				<mat-icon>{{children.icon}}</mat-icon>
				<span>{{children.name}}</span>
			</button>
	</div>
</div>