mat-toolbar {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.page-wrapper-full {
  height: calc(100vh) !important
}

.header-vertical {
  height: 100% !important;
  width: 56px !important;
}

.site-container {
  width: 100%;
}

.sidenav-container {
  position: absolute;
  top: 0px;
  /* bottom: 60px; */
  left: 0;
  right: 0;
}

.sidenav {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  top: 60px !important;
  display: flex;
  align-items: top;
  justify-content: left;
  width: 200px;
}

/*<--- scroll style */

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* scroll style  --->*/