<div class="main-container">
	<div fxLayout="column">
		<app-header-item></app-header-item>

		<div fxLayout="row">
			<div class="menu-container">
				<mat-toolbar color="primary" class="header-vertical" style="top:60px">
					<mat-toolbar-row fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%">
						<mat-toolbar-row class="menu" fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%; margin-top:60px">
							<mat-toolbar-row fxLayoutAlign="center center" fxFlexFill>
								<!-- opciones del tool bar -->
								<div class="button-column" fxLayout="row" style="height: 100%">
									<app-tool-items></app-tool-items>
								</div>
							</mat-toolbar-row>
						</mat-toolbar-row>
						<mat-toolbar-row class="user" fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%">
							<mat-toolbar-row fxLayoutAlign="center center" fxFlexFill>
								<!-- opciones del usuario -->
								<div class="button-column" fxLayout="column" style="height: 100%" fxLayoutAlign="end center">
									<app-user-menu></app-user-menu>
								</div>
							</mat-toolbar-row>
						</mat-toolbar-row>
					</mat-toolbar-row>
				</mat-toolbar>
			</div>
			<div class="site-container" class="page-wrapper-full">
				<!-- contenido -->
				<mat-sidenav-container class="sidenav-container" style="left: 56px">
					<mat-sidenav #sidenav mode="side" [opened]="toggle" class="sidenav" [fixedInViewport]="true" [fixedTopGap]="top" [fixedBottomGap]="bottom">
						<app-menu-items fxFlexFill></app-menu-items>
					</mat-sidenav>
					<mat-sidenav-content class="page-wrapper-full">
						<router-outlet></router-outlet>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</div>
		</div>
	</div>
</div>
