<button mat-button mat-icon-button matTooltipPosition="after" (click)="toggleFullscreen() ">
	<mat-icon>fullscreen</mat-icon>
</button>
<button mat-button mat-icon-button [matMenuTriggerFor]="menu" style="float:right;">
	<img [src]="avatarUrl">
</button>

<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="onEditProfile();">
		<mat-icon>account_box</mat-icon>
		<span>Perfil de usuario</span>
	</button>
	<button mat-menu-item (click)="onLogout();">
		<mat-icon>lock_outline</mat-icon>
		<span>Cerrar sesi&oacute;n</span>
	</button>
</mat-menu>