/*<--- scroll style */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #999;
  width: 15px;
}

/* scroll style  --->*/