<auth-container>
<mat-card class="example-card">
	<mat-card-header fxLayoutAlign="center center" fxLayout="column">
		<img src="assets/images/logo.png" class="header-image" alt="...">
		<h1 class="header-text">ICRESON</h1>
	</mat-card-header>
	<mat-divider></mat-divider>

	<mat-card-content>
		<form class="form">
			<mat-form-field class="full-width">
				<input matInput placeholder="Correo" name="email" [(ngModel)]="email" required>
			</mat-form-field>
			<mat-form-field class="full-width">
				<input matInput placeholder="Contraseña" name="password" [(ngModel)]="password" required
				/>
			</mat-form-field>
		</form>
	</mat-card-content>

	<mat-card-actions fxLayout="column" fxLayoutGap="20px">
		<button mat-raised-button color="primary" (click)="onLogin()">Iniciar sesi&oacute;n</button>
		<button mat-button (click)="onForgotPass()">Olvide mi contrase&ntilde;a</button>
	</mat-card-actions>
</mat-card>
</auth-container>
