<mat-card fxLayout="row" class="header-content" fxLayoutAlign="center center">
	<button mat-button mat-icon-button (click)="toggle()">
			<mat-icon  link >menu</mat-icon>
		</button>
	<img src="/assets/images/logo.png" style="width:40px;    height: 40px;" alt="...">
	<div>
		ICRESON
	</div>

</mat-card>